<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>My Flask App</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}">
</head>
<body>
    <div class="container">
        <a class="title">We suggest you try this next!</a>
        <a href="https://leetcode.com/problems/two-sum/description/" class="bubble-link">
            <div class="bubble">
                <p class="name">Two Sum</p>
                <p class="difficulty easy">Easy</p>
            </div>
        </a>

        <div class="completed-container">
            <p class="x">Skip</p>
            <p class="tick">Done</p>

        </div>

        <div class="tag-container">
            <p class="show-tags">Show Topics</p>;
            <div class="blur-background"> </div>
        </div>
    </div>
    <script src="{{ url_for('static', filename='scripts.js') }}"></script>
</body>
</html>